.header {
  display: flex;
  width: 100%;
  color: #3333;
  font-size: 32px;
  :global .el-menu {
    flex: 1;
    border: none;
  }

  a {
    text-decoration: none;
  }
}
.logo {
  width: 28px;
  height: 60px;
  background: url('./image/icon.svg') no-repeat center;
}
